  .brands-div{
    border-radius: 10px;
    /* border: 1px solid black; */
    transition: box-shadow 0.5s ease;
  }

  .brands-div img{
    object-fit: contain;
  }

  /* .brands-div:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb; 
  } */