.product-card:hover{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.react-multi-carousel-track{

}

/* react-multi-carousel-item--active  */

@media screen {
    .react-multi-carousel-item{
        display: flex;
        justify-content: center;
        /* margin-right: -4px; */
        /* margin-left: -4px; */
    }

    .react-multi-carousel-item{}
}